type: segment_full_song
model:
  type: segment_full_song
  max_tokens: 950
  pitch_range: [21, 109]
  max_note_duration: 64
  dim: 512
  encoder_num_layers: 4
  decoder_num_layers: 8
  max_forward_duration: 256
  max_song_duration: 6400
  max_context_duration:
    left: 256
    right: 256
    seed: 256
    reference: 256
    target: 256
  latent_dim: 128
  frames_per_bar: 32
training:
  seed: 0x517
  batch_size: 12
  accum_batches: 1
  shuffle: true
  drop_last: true
  gradient_clip_val: null
  precision: "16-mixed"
  demo_samples: 1

  lr: 0.0001
  betas: [0.9, 0.999]
  eps: 1e-8
  weight_decay: 0

  demo_steps: 1000
  checkpoint_steps: 50000
  max_steps: 2000000
